.admin-container-background {
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 600px;      
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.243);    
    border-radius: 50px;
    background-color: rgb(247, 247, 247);
    margin-top: 50px;
}

.admin-container h1{
    margin-top: 50px;
}

.admin-search-button {
    width: 70px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-color: rgba(62, 218, 124, 0.668);
    transition: 0.3s ease-in-out;
}

.admin-search-button:hover {
    background-color: rgb(62, 218, 124);
}

.admin-input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.517);
    text-align: center;
}


.income {
    padding-top: 40px;
}

@media (max-width: 700px) { 
    .admin-container {
        width: 90%;
    }
    .admin-container table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        margin-top: 30px;
        width: 60%;
        margin-left: 20%;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.233);
        border-radius: 20px;
        display: block;
        height: 250px;
        overflow-y: scroll;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;
    }
}